* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

.container {
  max-width: 1100px;
  margin: 0 auto; }

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.btn {
  cursor: pointer;
  border: 2px solid #333;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  background: #ec5f8e;
  color: #f4f4f4;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s; }
  .btn:hover {
    background: #333;
    color: #ec5f8e;
    border: 2px solid #ec5f8e; }

.highlight {
  color: #ec5f8e; }

body {
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6; }

a {
  text-decoration: none;
  color: black;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  padding: 0.5rem 0.75rem; }
  a:hover {
    color: #ec5f8e; }

li {
  list-style: none; }

nav {
  min-height: 80px; }
  nav .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: inherit; }
  nav li {
    padding: 0 0.25rem; }
  nav .logo {
    font-size: large;
    font-weight: 600; }
  nav .btn {
    background: #f4f4f4;
    color: black; }
    nav .btn:hover {
      background: #ec5f8e;
      color: #f4f4f4;
      border: 2px solid #333; }

.hero {
  background: url("/images/hero-background.jpg") no-repeat center/cover fixed;
  height: 100vh;
  color: white; }
  .hero .container {
    height: inherit;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .hero h1 {
    font-size: xxx-large; }

.about {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .about .left {
    max-width: 400px;
    padding-top: 2rem; }
    .about .left p {
      padding: 2rem 0; }
    .about .left .btn {
      display: inline-block; }
  .about img {
    padding: 1rem 0;
    max-width: 600px; }
