$light-color: #f4f4f4;
$dark-color: #333;
$highlight-color: #ec5f8e;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.btn {
  cursor: pointer;
  border: 2px solid $dark-color;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  background: $highlight-color;
  color: $light-color;
  transition-duration: 0.25s;

  &:hover {
    background: $dark-color;
    color: $highlight-color;
    border: 2px solid $highlight-color;
  }
}

.highlight {
  color: $highlight-color;
}

body {
  background-color: $light-color;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: black;
  transition-duration: 0.25s;
  padding: 0.5rem 0.75rem;

  &:hover {
    color: $highlight-color;
  }
}

li {
  list-style: none;
}

nav {
  min-height: 80px;

  .container {
    justify-content: space-between;
    align-items: center;
    min-height: inherit;
  }

  li {
    padding: 0 0.25rem;
  }

  .logo {
    font-size: large;
    font-weight: 600;
  }

  .btn {
    background: $light-color;
    color: black;

    &:hover {
      background: $highlight-color;
      color: $light-color;
      border: 2px solid $dark-color;
    }
  }
}

.hero {
  background: url('/images/hero-background.jpg') no-repeat center/cover fixed;
  height: 100vh;
  color: white;

  .container {
    height: inherit;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-size: xxx-large;
  }
}

.about {
  justify-content: space-between;

  .left {
    max-width: 400px;
    padding-top: 2rem;

    p {
      padding: 2rem 0;
    }

    .btn {
      display: inline-block;
    }
  }
  img {
    padding: 1rem 0;
    max-width: 600px;
  }
}
